.contact-list {
    display: none;
}

.footer__large {    
    font-size: var(--text-size);
    line-height: 1.71;    
    font-weight: 400;
    text-decoration: none;
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    &:hover,
    &:focus {
        color: var(--hover-color);
    }
}

@media screen and (min-width: 768px) {
    .contact-list {
        display: block;        
    }

    .contact-list__contact {
        display: flex;        
        font-weight: 500;
        font-size: 12px;    
        line-height: 1.17;    
        text-decoration: none;
        color: var(--text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
        &:hover,
        &:focus {
            color: var(--hover-color);
        }
    }
    
    .contact-list__icon {
        margin-right: 10px;
        fill: currentColor;    
    }

    .contact-list__item:not(:last-child) {
        margin-bottom: 10px;       
    }    
} 

@media screen and (min-width: 1200px) {
    .contact-list__item:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0px;
    }

    .contact-list,
    .header__small {
        display: flex;
        align-items: center;       
    }

    .contact-list__contact {
        font-size: var(--text-size);
        line-height: 1.14; 
    }    
}