.post-title {
    font-weight: 700;
    font-size: var(--text-size);
    line-height: 1.15;    
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: start;
    }
}

.post-title--white {      
    color: var(--secondary-color);    
    margin-bottom: 20px;
    margin-top: 60px;

    @media screen and (min-width: 768px) {
        margin-top: 0px;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

@media screen and (max-width: 1199px) {
    .footer__post-title--white {
        margin-top: 60px;
    }
}