.social-list {
    display: flex;
    justify-content: center;
}

.social-list__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list__link {
    @extend %align;   
    width: 100%;
    height: 100%;
    border-radius: 100%;
    fill:var(--vector-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--secondary-color);
        background-color: var(--hover-color);
    }
}

.social-list__item--back-grey {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-list__link--white {
    fill: var(--secondary-color);
}

